PORT=5000
MONGO_URI=mongodb+srv://itsmerajukumarkushwaha_db_user:xgKlOu5v7NPyh0py@hotel-management-system.55uf4jr.mongodb.net/?appName=hotel-management-system
JWT_SECRET=729c23cabe69b6431da1fdfb34bb734ec9fbd7818e6ad3ebd5f76b652390d9e65f1f862600677d374a99a4863d34838eda6150c8587c4a016ac11370eaa92aa9
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
NODE_ENV=development
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=itsme.raju.kumar.kushwaha@gmail.com
SMTP_PASS=kajjwxfjvoghydog
SMTP_FROM_NAME=GrandVista Hotel
SMTP_FROM_EMAIL=itsme.raju.kumar.kushwaha@gmail.com